<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Cards', boards_path(@card.board_id) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= action_name %>
    </li>
  </ol>
</nav>