<nav class="navbar navbar-dark bg-primary">
   <div class="container">
    <%= link_to 'ToDo List', root_path, class: "mx-auto navbar-brand" %> 

    <%= link_to new_board_path, class: 'btn btn-default' do %>
      Add Board <i class="fa fa-plus"></i>
    <% end %>

  </div>
</nav>